/* my header will comprise of my name and my nav bar. */
body {
    background-color: #2e2836;
    color: rgb(255, 224, 224); 
    
}
#avatar {
    border: #8693ab solid 2px;
    width: 300px;

}

header {
    display:inline-flex;
    align-items: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    flex-direction: row;
    width: 100%; 
    background-color: #b6d094; 
    position:absolute;
    margin-bottom: 0px;
}

h1 {
    display: inline-flex;
    padding: 0 20px;
    align-self: flex-end;
    margin-bottom: 0;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2e2836;
}
nav, ul {
    margin-left: auto;
    margin-bottom: 0;
    font-size: 14px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: #2e2836;
}

li {
    padding: 1em;
    align-items: center;
    justify-self: flex-start;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}
#aboutme {
    margin-top: 50px;
    padding-top: 100px;
}

p {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
}

h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
div {
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1908px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    border-radius: 25px;
    margin-top: 150px;
}

 .skill{
    border: 5px plum;
    border-width: 2px;
    background-color:#e1aa7d;
    padding: 1em;
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}


img {
    background-color: white;
}
h5 {
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    display: block;
    flex-direction: column;
    justify-content: center;
}
p {
    margin: 25px 15px 15px 20px;
}

form {
    display:inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

footer img {
    display: flex;
    float: right;
}
