/* my header will comprise of my name and my nav bar. */

header {
    display:inline-flex;
    align-items: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    flex-direction: row;
    width: 100%; 
}

nav, ul {
    margin-left: auto;
    font-size: 14px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    padding: 1em;
    align-items: center;
    justify-self: flex-start;
    overflow-wrap: normal;
    text-overflow: ellipsis;
}